<header class="tc">
  <h1 class="f-headline" id="headline">Search for Collectives</h1>

  <form action="/collectives" method="GET">
    <input type="search" placeholder="tessel" name="query" id="query" aria-labelledby="headline" class="w-33 ph2 pv3" />
  </form>
</header>

