<header class="tc">
  <h1 class="f-headline" id="headline">
    <a href="/" class="link blue dim">Search for Collectives</a>
  </h1>

  <form action="/collectives" method="GET">
    <p class="mb1">Search by collective name or relevant term:</p>
    <input type="search" placeholder="tessel" name="query" id="query" aria-labelledby="headline" class="w-33 ph2 pv3" value="{{query}}" />
  </form>
</header>

{{#if query}}
  <main class="w-80 center pv4">
    {{#unless collectives}}
      <p class="b tc f2">No results found for "{{query}}"</p>
    {{/unless}}

    <ul class="list pa0 flex flex-wrap">
      {{#each collectives}}
        <li class="w-100 w-50-m w-20-l tc pa2 mb4 vhs-bottom">
          {{> collective }}
        </li>
      {{/each}}
    </ul>
  </main>
{{/if}}

{{#if recent}}
  <main class="w-80 center pv4">
    <h2 class="f3 b">Recently updated collectives:</h2>
    <ul class="list pa0 flex flex-wrap">
      {{#each collectives}}
        <li class="w-100 w-50-m w-20-l tc pa2 mb4 vhs-bottom">
          {{> collective }}
        </li>
      {{/each}}
    </ul>
  </main>
{{/if}}

{{#if error}}
  <p class="b red tc">Error: {{error.message}}</p>
{{/if}}


<script type="text/javascript">
  document.querySelectorAll('ul img').forEach((image) => {
    image.addEventListener('error', defaultImageFallback)
  })
  
  function defaultImageFallback() {
    this.src = 'https://opencollective.com/static/images/default-collective-logo.png'
  }
</script>
